* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F172A;
  color: #F8FAFC;
}

@media print {
  body * {
    visibility: hidden;
  }
  #sarwin-printable-payslip, #sarwin-printable-payslip * {
    visibility: visible;
  }
  #sarwin-printable-payslip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: #ffffff !important;
    color: #0F172A !important;
  }
}
