@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F172A;
  color: #F8FAFC;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@media print {
  body * { visibility: hidden; }
  #sarwin-printable-payslip, #sarwin-printable-payslip * { visibility: visible; }
  #sarwin-printable-payslip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: #ffffff !important;
    color: #0F172A !important;
  }
}
